@import "../css/typography.css";

html {
  --alabaster: #f1efe4;
  --ultra-violet: #37479e;
  --purple: #6f2ab0;
  --cultured: #f2f0f1;
  --middle-blue: #8adbed;
  --platinum: #ecebed;
  --alabaster-plus: #302c30c9;
  --alabaster-hue: #eef2e6;

  --dark-background: #1b190e;
  --dark-background-plus: #b190c0;
  --dark-light-background: #252023;
  --dark-font: #b1b8e4;
  --dark-code: #333035;
  --dark-background-hue: #0b0a0a;

  --background: var(--alabaster);
  --background-over: var(--alabaster-plus);
  --font-color: var(--ultra-violet);
  --font-color-over: var(--alabaster);

  --header: var(--cultured);
  --code: var(--platinum);
  --footer: var(--alabaster-hue);
}

body[data-dark-mode] {
  --background: var(--dark-background);
  --background-over: var(--dark-background-plus);
  --font-color: var(--dark-font);
  --font-color-over: var(--dark-background);

  --header: var(--dark-light-background);
  --code: var(--dark-code);
  --footer: var(--dark-background-hue);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  background-color: var(--background);
  color: var(--font-color);
  font-family: "my font", georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  padding: 0;
  overflow-x: hidden;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

body * {
  box-sizing: border-box;
  max-width: 100%;
}

.content main {
  padding: 32px;
  min-height: 100%;
}

@media screen and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content aside {
    grid-column: unset;
  }
  .content main {
    grid-column: unset;
  }
}

.site-header {
  background-color: var(--header);
  height: 80px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 16px;
}

.site-header h1 {
  margin: 0;
  font-size: 2em;
}

.site-header__theme {
  position: absolute;
  right: 8px;
  top: 8px;
}

footer {
  background: var(--footer);
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-auto-flow: column;
  justify-content: stretch;
  align-items: start;
  padding: 1em;
}

.icon-small {
  width: 1.3rem;
}

.icon-medium {
  width: 2rem;
}

.icon-large {
  width: 3rem;
}

.social {
  list-style-type: none;
  margin: 0;
  font-size: 0.9rem;
  padding: 0;
}

.social li {
  display: flex;
  align-items: flex-end;
}

.social a {
  display: flex;
  padding: 0px 8px;
  align-items: flex-end;
}

.social li .name {
  margin-left: 16px;
}

a,
a:active {
  text-decoration: none;
  font-style: normal;
  color: var(--font-color);
}

a:hover {
  text-decoration: underline;
}

.post-link h1 {
  margin: 0;
}

.post-link header {
  margin-bottom: 8px;
}

.post-link small {
  font-size: 0.7em;
}

.post-link a:visited {
  text-decoration: none;
  color: var(--font-color);
}

.post-link + .post-link {
  margin-top: 8px;
}

.post-link p {
  margin: 0;
  font-size: 0.8rem;
}

.btn-toggle {
  border: 0;
  background-color: var(--background-over);
  color: var(--font-color);
  font-weight: bolder;
  width: 4em;
  border-radius: 25px;
  text-align: right;
  padding: 4px 4px;
}

.btn-toggle__toggler {
  display: inline-block;
  border-radius: 50%;
  will-change: margin;
  transition: margin ease 300ms;
}

.btn-toggle__toggler--on {
  margin-right: 0.2em;
}

.btn-toggle__toggler--off {
  margin-right: 3em;
}

.footnote {
  align-self: end;
}

.anchor.after svg {
  fill: var(--font-color);
  height: 0.8em;
}
