body {
  --dark-background: #1b190e;
  --dark-background-over: #b190c0;
  --dark-light-background: #44393f;
  --dark-font-color: #d6d9f3;
  --dark-background-hue: #1c1e2b;

  --dark-punctuation: #fff2ff;
  --dark-regex: #e56530;
  --dark-code: #000;
  --dark-keyword: #859900;
  --dark-class-name: #b58900;
  --dark-builtin: #2aa198;
  --dark-constant: #268bd2;
  --dark-code-selection: #073642;
  --dark-comment: #ccdad1;
  --dark-string: #268bd2;

  --regular-background: #f6f7f2;
  --regular-background-over: #535548;
  --regular-font-color: #232615;
  --regular-font-color-over: #fcfbfa;
  --regular-header: #dfe5c3;
  --regular-footer: #ffff;

  --regular-punctuation: #3d5751;
  --regular-regex: #7a067a;
  --regular-code: #ffff;
  --regular-code-selection: #b8eaf7;
  --regular-keyword: #0e8261;
  --regular-class-name: #826306;
  --regular-builtin: #3961ff;
  --regular-constant: #860000;
  --regular-comment: #697878;
  --regular-string: #4661ce;

  --background: var(--regular-background);
  --background-over: var(--regular-background-over);
  --font-color: var(--regular-font-color);

  --code: var(--regular-code);
  --code-selection: var(--regular-code-selection);
  --code-punctuation: var(--regular-punctuation);
  --code-regex: var(--regular-regex);
  --code-keyword: var(--regular-keyword);
  --code-builtin: var(--regular-builtin);
  --code-constant: var(--regular-constant);
  --code-class-name: var(--regular-class-name);
  --code-comment: var(--regular-comment);
  --code-string: var(--regular-string);

  --font-color-over: var(--regular-font-color-over);
  --header: var(--regular-header);
  --footer: var(--regular-footer);
}

body[data-color-mode="dark"] {
  --background: var(--dark-background);
  --background-over: var(--dark-background-over);
  --font-color: var(--dark-font-color);
  --font-color-over: var(--dark-background);
  --header: var(--dark-light-background);
  --footer: var(--dark-background-hue);

  --code: var(--dark-code);
  --code-selection: var(--dark-code-selection);
  --code-punctuation: var(--dark-punctuation);
  --code-regex: var(--dark-regex);
  --code-keyword: var(--dark-keyword);
  --code-builtin: var(--dark-builtin);
  --code-constant: var(--dark-constant);
  --code-class-name: var(--dark-class-name);
  --code-comment: var(--dark-comment);
}
